<p>La société ETI SERVICE, implanté dans le centre de Paris (75002 Paris) est spécialisée dans la fabrication d' étiquettes pour textile.</p>

<p>Elle travaille avec une équipe expérimentée depuis 15 ans dans ce domaine, elle peut  apporter toutes les solutions à vos problèmes d’étiquetage.</p>

<p>La société ETI SERVICE effectue un service très rapide (maximum 48 heure) pour les étiquettes  imprimées d'entretiens (Personnalisées avec ou sans logo), les étiquettes autocollantes, les griffes tissées et les étiquettes sur support carton pour les centrales et les particuliers.</p>

<p>Nous sommes en mesures de réaliser des étiquettes cartons et imprimées d'entretiens pour les centrales ci-dessous :


BURTON, 1.2.3, CAROLL, ETAM, 3 SUISSES, CORA, DEFIMOD, CAD, J.RIEU,

CAD, ARMAND THIERY, CAMAIEU, TOSCANE, JENNYFER, CACHE CACHE, KIABI, SCOTAGE, BONOBO…</p>

<p>N’hésitez pas à nous contacter par e-mail et téléphone pour toutes questions supplémentaires sur nos produits, service et vos problèmes d’étiquetages.</p>

<p>ETI Service</p>

<p>144 Saint Denis</p>

<p>75002 Paris.</p>


<p>Tel : 01 40 03 01 74</p>

​

<p>Mail : contact@etiservice.fr</p>
