<p>Etiquette indispensable pour les mentions obligatoire indiquant la composition, le mode de lavage, l’origine, la taille de votre produit l’étiquette d’entretien conseille pour l’entretien de votre produit.</p>

<p>Facultatif mais nous vous le conseillons afin d’éviter l’engagement de la responsabilité du professionnel en cas d’incident lié à l’entretien du produit.</p>

<p>Sur un support en satin ou en Nylon pour des particuliers, des professionnels ou bien les centraux d’achats.</p>
