<p>Nous mettons à  votre disposition les consommables nécessaire pour vos machines.</p>

<p>Consommables pour les imprimantes (Machine à composition).</p>

<p>Rouleau de nylon (Ruban blanc) dans différentes taille.</p>

<p>Machine à compostions + logiciel sur demande par mail.</p>

<p>Maintenance  machine sur demande par mail / Rouleau de satin blanc / noir dans différentes taille.</p>

<p>Rouleau d’encre thermique  blanc / noir dans différentes taille.</p>

<p>Rouleau d’autocollants thermique dans différentes taille.</p>

