<p>Sur différents types de textiles et de toutes les formes, Nous vous confectionnons votre griffe à votre image. L’étiquette tissée est votre signature, nous la personnalisons à votre demande. (Ecussons, Jacrons, Griffes).</p>

<p>Nous pouvons vous confectionner des étiquettes de qualité HD ainsi que les étiquettes brodées, avec le tissage brodé les points de liage sont visibles.</p>

<p>Nous mettons aussi à votre disposition les puces de taille tissées (Ex : TXS, TS, TM, TL, TXL, T36, T34, T36, ….)</p>

